#services {
	background-color: $dark_bg;
	margin-bottom: 0;

	.divider {
		background-color: $main_yellow_darker;
	}

	.services-container.row {
		.col-12.col-lg-6.service {
			height: 15em;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			i, span{
				font-size: 2em;
			}

			i {
				font-size: 4.5em;
			}

			span {
				text-transform: uppercase;
			}

			&:hover {
				background-color: $main_yellow_darker;
				transform: scale(1.1);
				color: $black;
				transition: all .3s;
				cursor: pointer;
			}
		}
	}
}
.whatsapp-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.whatsapp-btn {
	background-color: $whatsapp_btn;
	color: $color_1;
	&:hover {
		background-color: $whatsapp_btn_hov;
	}
}
