$main_yellow:       hsl(70, 100%, 52%);
$main_yellow_darker:  hsl(70, 93%, 39%);
$dark_bg:           hsl(231, 14%, 19%);
$light_blue:        hsl(210, 80%, 56%);
$main_bg_color:     hsl(0, 0%, 93%);
$whatsapp_btn:      hsl(127, 56%, 56%);
$whatsapp_btn_hov:  hsl(127, 45%, 44%);
